body {
    background: url('./assets/bg.jpg') !important;
}


/* =========== custom scroll-bar ========= */

::-webkit-scrollbar {
    width: 10px;
    background: #191a1c;
}

::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: linear-gradient(-45deg, #a4a9ac, #616368, #9499b3, #414142);
}